body{ 
    background-color:#f9f9f9; 
    font-size:16px ;
    color:#444; 
    font-family: sans-serif; 
} 

.content{ 
    width: 80%; 
    margin: 10px auto; 
} 

/*header*/ 
header{ 
    background-color: lime; 
    padding: 20px 10px; 
    border-radius: 5px; 
    border: 1px solid #f0f0f0; 
    margin-bottom: 10px; 
} 

header h1.judul, 
header h3.deskripsi{ 
    text-align: center; 
} 

/*menu navigasi*/ 
.menu{ 
background-color: #87CEFA; 
border: 1px solid #f0f0f0; 
border-radius: 8px; 
margin-bottom: 10px; 
} 

div.menu ul { 
list-style:none; 
overflow: hidden;
}

div.menu ul li { 
float:left; 
text-transform:uppercase; 
} 

div.menu ul li a { 
display:block; 
padding:0 20px; 
text-decoration:none; 
color:#2c2c2c; 
font-family: sans-serif; 
font-size:13px; 
font-weight:400; 
transition:all 0.3s ease-in-out; 
} 

div.menu ul li a:hover, 
div.menu ul li a.hoverover { 
cursor: pointer; 
color:#fff; 
} 

div.badan{ 
background-color: white; 
border-radius: 5px; 
border: 1px solid #f0f0f0; 
margin-bottom: 10px; 
} 

div.halaman{ 
    text-align: center; 
    padding: 30px 20px; 
}

/* kalkulator */
.kalkulator{ 
width: 335px; 
background: #2F495A; 
margin: 100px auto; 
padding: 10px 20px 50px 20px; 
border-radius: 5px; 
box-shadow: 0px 10px 20px 0px #D1D1D1; 
} 

.bil{ 
width: 300px; 
margin: 5px; 
border: none; 
font-size: 16pt; 
border-radius: 5px; 
padding: 10px; 
} 

.opt{ 
font-size: 16pt; 
border: none; 
width: 215px; 
margin: 5px; 
border-radius: 5px; 
padding: 10px; 
}

.tombol{ 
background: #EC5159; 
border-top: none; 
border-right: none; 
border-left: none; 
border-radius: 5px; 
padding: 10px 20px; 
color: #eee; 
font-size: 15pt; 
border-bottom:4px solid #BF3D3D; 
} 

.brand{ 
color: #eee; 
font-size: 11pt; 
float: right; 
text-decoration: none; 
margin: 12px; 
} 

.judul {
    color: white;
}